btop
chromium
clipse/tmp_files
clipse/clipboard_history.json
clipse/clipse.log
dconf
go
gtk-3.0
mpv
nautilus
nextjs-nodejs
obsidian
obs-studio
pulse
qt6ct
qtvirtualkeyboard
systemd
tmux/plugins
unity3d
vlc
yay
yarn
QtProject.conf
