btop
chromium
clipse/tmp_files
clipse/clipboard_history.json
clipse/clipse.log
dconf
fcitx
fcitx5
go
gtk-3.0
gtk-4.0
ibus
libreoffice
menus
mpv
MQTTX
nautilus
nextjs-nodejs
obs-studio
opencode
pulse
qt6ct
qtvirtualkeyboard
systemd
tmux/plugins
xsettingsd
vlc
yay
yarn
QtProject.conf
ZenNotes
