BetterDiscord
Equicord
Vencord
Thunar
btop
cava
chromium
clipse/tmp_files
clipse/clipboard_history.json
clipse/clipse.log
equibop
dconf
discord
fcitx
fcitx5
fish/fish_variables
fuzzel/fuzzel.ini
go
gtk-3.0
gtk-4.0
htop
hypr/scheme/current.lua
ibus
libreoffice
lazygit
legcord
nvtop
menus
mpv
MQTTX
nautilus
nextjs-nodejs
obs-studio
opencode
pulse
qt6ct
qtengine
qtvirtualkeyboard
spicetify
teamviewer
tmux/plugins
ueberzugpp
vesktop
xfce4
xsettingsd
vlc
yay
yarn
zed
zennotes
QtProject.conf
ZenNotes
