@import "../styles/mocha.css";

* {
  font-family: "Upheaval Pro";
  color: @text;
  transition: all 100ms ease;
}

window#waybar {
  background-color: transparent;
}

window#waybar>box {
  padding: 4px 4px 0 8px;
}

#workspaces button {
  padding: 0 8px;
}

#workspaces button.active {
  background-color: @base70;
  border-radius: 4px;
  padding: 0 16px;
}

#workspaces button.empty {
  opacity: 0.5;
}

.modules-right * {
  padding: 0 4px;
  border-radius: 4px;
}

#stats {
  background-color: @base80;
}

#media {
  margin: 0 4px;
  background-color: @base80;
}

#cpu {
  color: @blue;
}

#memory {
  color: @green;
}

#temperature {
  color: @yellow;
}

#pulseaudio {
  color: @lavender;
}

#battery.bat0,
#battery.bat1 {
  color: @teal;
}

#clock {
  padding: 0 10px;
  color: @mauve;
  background-color: @base80;
}
