@import "../styles/mocha.css";

* {
  font-family: "JetBrains Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
}

window#waybar>box {
  margin: 4px 4px 0px;
  padding: 6px;
  background-color: @crust80;
  border-radius: 999px;
}

#custom-logo {
  color: @text;
  padding: 0px 2px 0 6px;
  background-color: @surface0;
  border-radius: 999px;
}

#workspaces {
  color: @base;
  border-radius: 999px;
}

#workspaces button {
  margin-right: 4px;
}

#workspaces button {
  padding: 0 4px 0 5px;
  background-color: @mauve50;
  border-radius: 999px;
  transition: padding 100ms ease;
}

#workspaces button.active,
#workspaces button.empty.active {
  padding: 0 16px;
  color: @base;
  background-color: @mauve;
  border-radius: 999px;
  opacity: 1;
}

#workspaces button.empty {
  color: @text;
  background-color: @overlay050;
  opacity: 0.4;
}

#clock {
  color: @text;
  border-radius: 999px;
}

#cpu,
#memory,
#temperature,
#time,
#custom-battery,
#custom-bt-battery,
#pulseaudio {
  padding: 0 8px;
  color: @text;
  background-color: @surface0;
  border-radius: 999px;
}
